* {
            box-sizing: border-box;
            font-family: arial;
            border-radius: 0.5em;
        }
        form {
            width: 50vw;
            margin: auto;
            border: 1px solid gray;
            padding: 2vw;
        }
        h1, h2 {
            text-align: center;
        }
        input {
            display: block;
            width: 100%;
            font-size: 1.5em;
            margin-bottom: 1em;
            padding: 0.3em;

            background: white;
            border: 1px solid gray;
            box-shadow: 3px 3px 2px black;
        }
        .btn-lg {
            background: #3279B0;
            color: white;
            font-weight: bold;
            padding: 0.8em;
        }

        
        body {
            background-image: url("painel.jpg");
        }
